.container {
  display: flex;
  gap: 1px;
}

.leftSection {
  display: flex;
  flex-direction: column;
}

.primarySection {
  display: flex;
  flex-direction: column;
}

.light {
  width: 15px;
  height: 15px;
  background-color: gray;
  color: black;
}

.green-inactive {
  background-color: rgb(2, 49, 2);
}

.yellow-inactive {
  background-color: rgb(59, 59, 3);
}

.red-inactive {
  background-color: rgb(73, 1, 1);
}

.green-active {
  background-color: rgb(0, 251, 0);
}

.yellow-active {
  background-color: yellow;
}

.red-active {
  background-color: red;
}